/* Base styles that apply to all screen sizes */

@media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px (tablets and smartphones) */
}

@media screen and (max-width: 480px) {
    .weather-info {
        font-size: larger;
    }

    .weather-icon {
        width: 50%;
    }

    .forecast-container {
        flex-direction: column;
        align-items: center;
    }

    .forecast-day {
        width: 100%; 
        margin-bottom: 10px;
    }
}



body, #app {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

body {
    transition: opacity 1s ease-in-out, background-image 1s ease-in-out;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}


#app {
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#city-selector {
    border-radius: 20px;
    border-color: white;
    border: 1px solid #ccc;
    min-height: 50px;
    font-size: 33px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.5); 
    padding-left: 10px; 
    margin: 20px;
    padding: 10px;
}

#city-selector:focus {
    border-color: lightgrey;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px; 
}



.info-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 4px #333;
}

.weather-info i {
    font-size: 55px;
    margin-bottom: 10px;
    color: white;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


h1, h2, p {
    color: white;
    text-shadow: 2px 2px 4px #333;
}

h1 {
   
    font-size: 55px;
    font-weight: 700px;
}

h2 {
   
    font-size: 33px;
    font-weight: 500px;
}

p {
    color: white;
    margin: 0;
    font-size: 28px;
}

.forecast-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

.forecast-day {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 10px;
    margin: 5px;
}

.weather-icon {
    width: 50px;
    height: auto;
}




